<c-row ngPreserveWhitespaces>
    <c-col xs="12">
      <c-card class="mb-4" id="AngularButton">
        <c-card-header>
          <strong>Crisis</strong>
        </c-card-header>
        <c-card-body>
          <h5>Intoduction</h5>
          <p>
            Crisis are created and deployed by Central Administrators. Local Administrators can also create and deploy Crisiss, but only within their scope.
  Crisis Manager is used to assist in:
              <li style="padding-left: 20px;">Meeting collection and reporting requirements</li>
              <li style="padding-left: 20px;">Evaluating Crisiss according to objectives and internal controls</li>
              <li style="padding-left: 20px;">Managing Crisiss</li>
              <li style="padding-left: 20px;">Creating, editing and closing Crisiss</li>
          </p>     
          <p>
            Crisiss are launched in two stages:
            <li style="padding-left: 20px;"><b>Creation:</b> define the Crisis scope and collection period.</li>
            <li style="padding-left: 20px;"><b>Launch:</b> create evaluations.</li>
          </p>
          <br/>
          <h5>Managing Crisiss</h5>
          <p>
            Accessing the Crisis Manager
            <li style="padding-left: 20px;"><b>To access the Crisis Manager From </b> Risk Management, select Crisiss > Crisiss.</li>
          </p>
          <p>
            By default, the <b>Crisiss</b> page opens at the <b>Crisis definition</b> tab. This tab shows the Crisis name, organizational scope, scope of the risks to assess, and the status of the Crisis:
            <img class="fit-picture" src="/assets/nabsic/crisis1.JPG" />
          </p>
          <p>
            The Crisis schedule tab enables you to view a Crisiss' key dates and status at a glance:
            <img class="fit-picture" src="/assets/nabsic/crisis2.JPG" />
          </p>
          <p>
            The <b>Crisis schedule</b> tab enables you to view a Crisiss' key dates and status at a glance:
            <img class="fit-picture" src="/assets/nabsic/crisis2.JPG" />
          </p>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  