<c-row ngPreserveWhitespaces>
    <c-col xs="12">
      <c-card class="mb-4" id="AngularButton">
        <c-card-header>
          <strong>Incident Tracking</strong>
        </c-card-header>
        <c-card-body>
          <h5>Intoduction</h5>
          <p>
            Incident Tracking are created and deployed by Central Administrators. Local Administrators can also create and deploy Incidents, but only within their scope.
  Incident Manager is used to assist in:
              <li style="padding-left: 20px;">Meeting collection and reporting requirements</li>
              <li style="padding-left: 20px;">Evaluating Incidents according to objectives and internal controls</li>
              <li style="padding-left: 20px;">Managing Incidents</li>
              <li style="padding-left: 20px;">Creating, editing and closing Incidents</li>
          </p>     
          <p>
            Incident Tracking are launched in two stages:
            <li style="padding-left: 20px;"><b>Creation:</b> define the Incident scope and collection period.</li>
            <li style="padding-left: 20px;"><b>Launch:</b> create evaluations.</li>
          </p>
          <br/>
          <h5>Managing Incident Tracking</h5>
          <p>
            Accessing the Incident Manager
            <li style="padding-left: 20px;"><b>To access the Incident Manager From </b> Risk Management, select Incidents > Incidents.</li>
          </p>
          <p>
            By default, the <b>Incidents</b> page opens at the <b>Incident definition</b> tab. This tab shows the Incident name, organizational scope, scope of the risks to assess, and the status of the Incident:
            <img class="fit-picture" src="/assets/nabsic/IncidentTracking1.JPG" />
          </p>
          <p>
            The Incident schedule tab enables you to view a Incidents' key dates and status at a glance:
            <img class="fit-picture" src="/assets/nabsic/IncidentTracking2.JPG" />
          </p>
          <p>
            The <b>Incident schedule</b> tab enables you to view a Incidents' key dates and status at a glance:
            <img class="fit-picture" src="/assets/nabsic/IncidentTracking1.JPG" />
          </p>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  