<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4" id="AngularButton">
      <c-card-header>
        <strong>Campaigns Manager</strong>
      </c-card-header>
      <c-card-body>
        <h5>Intoduction</h5>
        <p>
          Campaigns are created and deployed by Central Administrators. Local Administrators can also create and deploy campaigns, but only within their scope.
Campaign Manager is used to assist in:
            <li style="padding-left: 20px;">Meeting collection and reporting requirements</li>
            <li style="padding-left: 20px;">Evaluating campaigns according to objectives and internal controls</li>
            <li style="padding-left: 20px;">Managing campaigns</li>
            <li style="padding-left: 20px;">Creating, editing and closing campaigns</li>
        </p>     
        <p>
          Campaigns are launched in two stages:
          <li style="padding-left: 20px;"><b>Creation:</b> define the campaign scope and collection period.</li>
          <li style="padding-left: 20px;"><b>Launch:</b> create evaluations.</li>
        </p>
        <br/>
        <h5>Managing Campaigns</h5>
        <p>
          Accessing the Campaign Manager
          <li style="padding-left: 20px;"><b>To access the Campaign Manager From </b> Risk Management, select Campaigns > Campaigns.</li>
        </p>
        <p>
          By default, the <b>Campaigns</b> page opens at the <b>Campaign definition</b> tab. This tab shows the campaign name, organizational scope, scope of the risks to assess, and the status of the campaign:
          <img class="fit-picture" src="/assets/nabsic/campaign1.png" />
        </p>
        <p>
          The Campaign schedule tab enables you to view a Campaigns' key dates and status at a glance:
          <img class="fit-picture" src="/assets/nabsic/campaign2.png" />
        </p>
        <p>
          The <b>Campaign schedule</b> tab enables you to view a Campaigns' key dates and status at a glance:
          <img class="fit-picture" src="/assets/nabsic/campaign2.png" />
        </p>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
